


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Basic</title>
</head>
<body>
<script>
  const text = require("express").text;
  const locals = require("express/lib/application").locals;
</script>
Hello <%=locals.text || 'Default'%>



</body>
</html>