/* style */
footer{
    background-color: var(--light-grey-green);
    color: var(--deep-teal-blue);
    padding: 40px 5%;
}
footer .footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
footer .footer-container .socialmedia-icons {
    display: flex;
    gap: 10px;
}
footer .footer-container .socialmedia-icons a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--dark-charcoal-blue);
    transition: all 0.5s ease-in-out;
}
footer .footer-container .socialmedia-icons a i {
    width: 40px;
    height: 40px;
    border: 1px solid var(--dark-charcoal-blue);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: var(--dark-charcoal-blue);
    transition: all 0.5s ease-in-out;
}
footer .footer-container .socialmedia-icons a:hover i {
    background-color: var(--dark-charcoal-blue);
    color: var(--light-grey-green);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
}
footer .footer-container .footer-nav{
    display: flex;
    gap: 25px;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
}
footer .footer-container .footer-nav li{
    padding: 6px 12px;
}
footer .footer-container .footer-nav li a{
    color: var(--dark-charcoal-blue);
    transition: all .6s ease-in-out;
    padding: 6px 12px;
    border-radius: 10px;
}
footer .footer-container .footer-nav li:hover a{
    color: var(--light-grey-green);
    background-color: var(--dark-charcoal-blue);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
}
footer .footer-copyright{
    margin-top: 30px;
    text-align: center;
    font-size: 15px;
    border-top: 1px solid var(--dark-charcoal-blue);
    padding-top: 20px;
}
footer .footer-copyright .designer-name, 
footer .footer-copyright p{
    font-weight: 500;
    color: var(--dark-charcoal-blue);

}

/* responsive 

    no responsive needed

*/